{% extends 'story5/base.html' %}

{% block page_title %}
    KEGIATAN
{% endblock page_title %}


{% block content %}
<div class="container" style="margin-top: 115px; min-height:330px;">
    <h1 class="display-3 text-center pb-4 border-bottom">Activities</h1>
    <Form method="POST" class="row my-4">
        {% csrf_token %}
        <div class="col-8 ml-auto">
            {{form_activ.activity}}
        </div>
        <button type="submit" class="btn btn-dark col-2 mr-auto" style="background-color: #e0a2ac;">Add Activity</button>
    </Form>
    <hr>

    <!--Menampilkan message-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <!--------------------->


    <!--NGELOOP AKTIVITAS-->
    <div class="d-flex justify-content-around flex-wrap pb-4">
        {% for activity in activities %}
        <div class="card bg-light my-4" style="width: 18rem; background-color:#724e85;">
            <div class="card-header" style="background-color: #e0a2ac;">
                <div class="row">
                    <h5 class="text-center col-10 mb-2">{{activity}}</h5>
                    <a href="{% url 'story_6:activityDelete' activity.id %}" class="col-2">
                        <button type="button" class="close mb-1">&times;</button>
                    </a>
                </div>
            </div>
            <div class="card-body" style="background-color:#9466ad;">
                <h6 class="card-title">Members</h6>
                <p></p>
                <ul>
                    <!--NGELOOP MEMBERS DI AKTIVITAS-->
                    {% for member in members %}
                        {% if member.aktivitas.id == activity.id %}
                        <li class="row">
                            <h5 class="col-10">{{member}}</h5>
                            <a href="{% url 'story_6:memberDelete' member.id %}" class="col-2">
                                <button type="button" class="close">&times;</button>
                            </a>    
                        </li>
                        {% endif %}
                    {% endfor %}
                    <!------------------------------->
                </ul>

                <!--BUTTON BUAT JOIN-->
                <form method="POST">
                    {% csrf_token %}
                    {{form_member.member}}
                    <input name="aktivitas" type="text" value="{{activity.id}}" style="display: none;"><br>
                    <button type="submit" class="btn btn-dark col-6 mt-2" style="background-color: #e0a2ac;">Join</button>
                </form>
                <!--------------------->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
