{% load static %}

{% block page_title %} Profile {% endblock page_title %}

{% block content %}
    <br>
    <div class = "title">
      <h1> Profile </h1>
    </div>

    <div class="container">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              <p> Silahkan memasukkan data diri anda terlebih dahulu</p>
              <p>Nama : {{ profile.nama }}</p>
              <p>Umur : {{ profile.umur }}</p>
              <p>Domisili : {{ profile.alamat }}</p>
          </fieldset>
          <div class="form-group" >
             
              <button href ="{% url 'story9:profile_dua' %}"class="btn btn-outline-info" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="form-group" >     
      <button href ="{% url 'story9:profile_dua' %}"class="btn btn-outline-info" type="submit">cek</button>
    </div>
{% endblock content %}
