{% extends 'story5/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/accordion.css' %}">
{% endblock css %}

{% block page_title %}
    Accordion UwU
{% endblock page_title %}
 

{% block content %}
<div class="wrapper col-12">
    <div class="accordion d-flex flex-column justify-content-start align-items-center py-5 col-lg-10 mx-auto">
        <h1 class="mb-5">Accordion</h1>

        <!----------------------------accordion1------------------------------------------------->
            <div class="accordion1 col-md-8 p-0 mt-2" id="acr1">
                <div class="header d-flex justify-content-between align-items-center">
                    <h5 class="judul py-4 col-9">Aktivitas Saat Ini</h5>
                    <div class="buttons d-flex justify-content-end justify-content-end col-3 p-0">
                        <div class="up d-flex align-items-center justify-content-center col-6"><h2>&uArr;</h2></div>
                        <div class="down d-flex align-items-center justify-content-center col-6"><h2>&dArr;</h2></div>
                    </div>
                </div>
                <div class="content">
                    <div class="isi px-4 py-3 m-0">
                        <p>Saat ini tepatnya semester 3 inii, aku hanya bisa di rumah saja, tidak boleh keluar rumah 
                            (tapi kalau ada kebutuhan mendadak seperti beli makanan atau ke ATM, jadinya boleh). Untuk 
                            aktivitas yang sekarang sedang aku jalani yaitu hanya ngerjain tugas, makan, sholat, tidur
                            , dan begitu kembali lagi siklusnya. Membosankan bukan ?
                        </p>
                        <p>Benar, membosankan. Tapi aku harus bersyukur kan ya, bukankah kegiatan semacam ini sudah
                            lebih dari cukup? So, just just enjoy it :)
                        </p>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------>

            <!-------------------------------accordion2----------------------------------------->
            <div class="accordion2 col-md-8 p-0 mt-2" id="acr2">
                <div class="header d-flex justify-content-between align-items-center">
                    <h5 class="judul py-4 col-9">Pengalaman</h5>
                    <div class="buttons d-flex justify-content-end col-3 p-0">
                        <div class="up d-flex align-items-center justify-content-center col-6"><h2>&uArr;</h2></div>
                        <div class="down d-flex align-items-center justify-content-center col-6"><h2>&dArr;</h2></div>
                    </div>
                </div>
               
                        <div class="content">
                            <div class="px-4 py-3 m-0">
                                <ul class="m-0 py-3">
                                    <li>Staf ILC FUKI 2020</li>
                                    <li>WPJ Penunjang SIWAK 2020</li>
                                </ul>
                            </div>
                        </div>
                    
        </div>
        <!------------------------------------------------------------------------------------>

        <!---------------------------accordion3---------------------------->
            <div class="accordion3 col-md-8 p-0 mt-2" id="acr3">
                <div class="header d-flex justify-content-between align-items-center">
                    <h5 class="judul py-4 col-9">Kuliah di FASILKOM</h5>
                    <div class="buttons d-flex justify-content-end col-3 p-0">
                        <div class="up d-flex align-items-center justify-content-center col-6"><h2>&uArr;</h2></div>
                        <div class="down d-flex align-items-center justify-content-center col-6"><h2>&dArr;</h2></div>
                    </div>
                </div>
                <div class="content">
                    <div class="isi px-4 py-3 m-0">
                        <p>Sudah hampir tiga semester aku berkuliah di kampus ini wkwk. Rasanya campur aduk bangett.
                            Kadang senang, bahkan sampai excited, kadang juga sedih, bahkan sampai down (a.k.a demot).
                            Pasti ada alasan yang buat aku bisa ngerasa banyak hal disini (kalau ga ada alasan, tiba-tiba senang/
                            sedih, aku bipolar dong). 
                        </p>
                        <p>Keadaan yang buat aku senang disini ya pertama aku bisa ngerti sama materi 
                            yang diajarkan, lalu aku juga bisa implementasi itu secara mandiri. Tapi ga bisa dipungkiri kalau 
                            ada aja celah dari suatu matkul yang buat itu sulit, nahh disaat seperti ini juga temen-temen Pacil
                            selalu ada aja yang bisa bantu, dan itu buat aku ngerasa dihargai bangett :((  (like, really? u wanna 
                            help me to do this? thank uu so much).
                        </p>
                        <p>Lalu yang buat aku sedih sampai kadang demot (sering sih sebenarnya) yaa karena kesusahan buat mengerti
                            suatu materi perkuliahan. Kayak aku udah belajar berkali-kali sampai coba metode yang berbeda, tetap aja 
                            ga ngerti (oh sad). Kadang suka terlintas di pikiranku kalau aku salah jurusan, tapi aku juga ga mau
                            pindah wkw. Yaa mungkin itu ceritanya. 
                        </p>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------------------------->
        
        <!------------------------------------accordion4------------------------------------------->
        <div class="accordion4 col-md-8 p-0 mt-2" id="acr4">
            <div class="header d-flex justify-content-between align-items-center">
                <h5 class="judul py-4 col-9">Prestasi</h5>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up d-flex align-items-center justify-content-center col-6"><h2>&uArr;</h2></div>
                    <div class="down d-flex align-items-center justify-content-center col-6"><h2>&dArr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <ul class="m-0 py-3">
                        <li>Juara tidur terlama di kelas</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------------------->

        <!-----------------------------accordion5-------------------------------------->
        <div class="accordion5 col-md-8 p-0 mt-2" id="acr5">
            <div class="header d-flex justify-content-between align-items-center">
                <h5 class="judul py-4 col-9">Rekomendasi Web Keren</h5>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up d-flex align-items-center justify-content-center col-6"><h2>&uArr;</h2></div>
                    <div class="down d-flex align-items-center justify-content-center col-6"><h2>&dArr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0 d-flex flex-column">
                    <div class="d-flex">
                        <img src="https://i.pinimg.com/originals/d0/b5/3d/d0b53d45d5cc3466b879929fef6d23cd.jpg" height="30" width="30" class="mr-3">
                        <h5><a target="_blank" href="https://www.10yearsof1d.com/">10 Years of 1D</a></h5> 
                    </div>
                    <div class="d-flex">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9VVthES-PNAiMW0sAcZtHQeKWAU5ypG7SHQ&usqp=CAU" height="30" width="30" class="mr-3">
                        <h5><a target="_blank" href="https://www.ultranoir.com/">Ultranoir</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------------------->
        
    </div>
</div>

<!-------------------------------------->
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock content %}
