{% extends 'blog/base.html' %}
{% load static %}

<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block page_title %}
        EXPERIENCE
    {% endblock page_title %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">

    {% block content %}
    <!--EXPERIENCE-->
  <section class="experience" id="experience">
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <h3><b>EXPERIENCE</b></h3>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md my-2">
              <div class="card">
                <a href="#" class="card-img-top"><img src="{% static 'blog/img/iac.jpg' %}" class="card-img-top" alt="..." / ></a>
                <div class="card-body">
                  <h4 href="#" class="link-exp">IACILE Vol.3</h4>
                  <p class="card-text">Pengalaman yang tak terlupakan saat mengerjakan ProKer ini yaitu saat kami para panitia
                    berjualan stiker ke pengunjung Car Free Day
                  </p>
                </div>
            </div>
        </div>

          <div class="col-md my-2">
                <div class="card">
                  <a href="#" class="card-img-top"><img src="{% static 'blog/img/olim.jpg' %}" class="card-img-top" alt="..." / height=></a>
                  <div class="card-body">
                    <h4 href="#" class="link-exp">OLIM UI 2019</h4>
                    <p class="card-text">Menjadi bagian staff divisi Renang Olim UI 2019 memberikan pelajaran yang banyak bagi saya, 
                      mulai dari kedisiplinan, kebersamaan, sampai keceriaan
                    </p>
                  </div>
              </div>
          </div>

          <div class="col-md my-2">
            <div class="card">
              <a href="#" class="card-img-top"><img src="{% static 'blog/img/olim.jpg' %}" class="card-img-top" alt="..." / height=></a>
              <div class="card-body">
                <h4 href="#" class="link-exp">OLIM UI 2019</h4>
                <p class="card-text">Menjadi bagian staff divisi Renang Olim UI 2019 memberikan pelajaran yang banyak bagi saya, 
                  mulai dari kedisiplinan, kebersamaan, sampai keceriaan
                </p>
              </div>
          </div>
      </div> 
      </div>
  </section>
  <!----------->
    {% endblock content %}