{% extends 'blog/base.html' %}
{% load static %}

<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block page_title %}
        MY BAD HABITS
    {% endblock page_title %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-2">My Bad Habits</h1>
      <p class="lead">Disaat hal-hal aneh menjadi kebiasaanmu </p>
    </div>
  </div>

  <!--cerita-->
  <div class="container text-justify" style="margin-top: 70px; margin-bottom:70px;">
    <p><b>Halo kamuu, hope you have a good day yaa.</b></p>

    <p>Yes aight, kebiasaan-kebiasaan buruk yang gue punya. Sebenarnya ga terlalu banyak sih, but still .... bad (hehe). Nah, kalau dari judulnya, kamu pasti udah bisa  nebak apa aja yang akan gue ceritain di sesi blog ini.</p>
    <p>Oke, kita mulai dari yang paling mainstream yaa. Mungkin kebiasaan buruk ini juga banyak dimiliki orang lain,
        ya apalagi kalau bukan <b>nunda-nunda makan</b>. Sebenernyaa, gue adalah typical orang yang ga jaim sama makanan,
        selagi itu enak, gue bakal makan, apalagi kalo gratis yekann (double pleasure wk).
        Tapi yang jadi masalah adalahh gue pengen diet (wkwk), entah kenapa di usia yang makin tua ((astaghfirullah, jadi inget dosa)),
        gue sangat mengidamkan tubuh yang ideal, banyak yang bilang kalo tubuh gue udah ideal jika diukur dengan BMS, tapi ya tetep aja
        gue masih kurang puas, <i>actually I have a disease that requires me to maintain my weight to stay at normal.</i>
        Nah, kalian bisa menilai sendiri kan kalo dari tujuan yang gue punya itu sebenarnya oke-oke aja, tapi yang salah ya cara gue (hehe),
        <i>No matter how good your goals are, if you use the wrong way to achieve it, it still be wrong</i>. Gue sering
        banget makan sehari cuma sekali, yang seharusnya tiga kali, jadi gue gabung aja buat sekali makan di siang. Sarapan yang jadi momen penting 
        itu jarang banget gue lakuin, yaa ini <i>totally wrong</i> sih. Kalian tau kan ada pepatah yang bilang "<i>eat breakfast like a king,
        lunch like prince, dinner like a pauper"</i>". Mungkin udah banyak yang tau arti dari istilah itu, 
        tapi gue mau ulang sedikit disini, kenapa eat breakfast like a king? Karena pada saat sarapan kita harus makan 
        yang banyak, apa aja makan deh, sarapan merupakan makanan pertama yang kita konsumsi setelah beristirahat di malam hari. Hal tersebut perlu 
        dilakukan karena kita harus mengisi glukosa dalam diri yang merupakan hal penting bagi otak dan sumber energi kita sepanjang hari. 
        Jika kita melewatkan sarapan, gula dalam diri kita akan rendah dan akan menurunkan produktivitas diri dalam beraktivitas sepanjang hari.
        Nah selebihnya kalian tau lah apa artinya, yang jelas intinya jangan lewatin sarapan dan jangan gabung-gabungin waktu makan,
        makan di waktu yang tepat itu penting banget. Kalau kalian mau diet, 
        <a href="https://hellosehat.com/hidup-sehat/nutrisi/berat-badan-ideal/panduan-diet-sehat/#gref" style="color:black; text-decoration:underline;">diet-lah dengan cara yang benar</a>
        , jangan kayak orang kekurangan makanan.
    <figure>
        <img src="{% static 'blog/img/eat.PNG' %}" style="display: block; margin:auto;" width=50% height=70%>
        <figcaption style="text-align:center;"><i>Makan di waktu yang tepat itu pentingg</i></figcaption>
    </figure>
    </p>
   
    <p>Oke next,<b> gue suka muntahin makanan kalau gue lagi kesal, marah, atau sedih gitu</b>. Gue kurang tau seberapa aneh kebiasaan ini, 
        tapi yang jelas gue tau kalau kebiasaan ini berbahaya buat pencernaan. Menurut <a href="https://hellosehat.com/hidup-sehat/nutrisi/9-efek-jangka-panjang-pada-penderita-bulimia/">artikel</a>
        yang gue baca, banyak efek samping dari kebiasaan ini. Tapi entah kenapa, setelah gue muntahin makanan dalam kondisi yang udah gue sebutin diatas, 
        gue merasa lebih tenang, emosi gue berkurang, dan bisa ketawa lagi wkwk. Berhubung gue tipe orang yang suka mendem masalah, cara yang paling cepet buat ngeluapinnya ya dengan cara ini. Mungkin
        agak bingung ya maksudnya apa wkwk. Jadi kadang di rumah atau diluar, suka ada aja yang bikin mood jelek, nah cara paling praktis buat ilangin mood jelek ini ya dengan cara memuntahkan makanan 
         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-frown" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
            <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
          </svg>. Jangan ditiru yaa <br><br>
        <figure>
            <img src="{% static 'blog/img/fine.jpg' %}" style="display:block; margin:auto;" width=50% height=70%>
            <figcaption style="text-align:center;"><i>Depressed</i></figcaption>
        </figure>
    </p>

    <p>And, the last is <b>gue suka gigitin sisi-sisi lidah gue pake geraham tanpa sadar</b>. Nah, gue gatau kapan kebiasaan ini muncul tepatnya. Tapi 
        kalo ga salah, gue dulu itu suka banget makan permen karet, nah kalo ga ada permen karet atau yang bisa gue kunyah, gue gigitin lidah.
        Oiya, parahnya gue tuh sampe ketiduran gitu gigitinnya, jadi pas bangun, lidah gue tuh sampe ada bekas gigitannya, bahkan 
        pernah sampe berdarah gitu. Kayaknya untuk kebiasaan ini efek sampingnya ga ada ya. Eh ada deh, kalo keseringan gigitin lidah bisa bikin
        lidah kamu berdarah gaes, hehe
        <figure>
            <img src="{% static 'blog/img/lidah.jpg' %}" style="display:block; margin:auto;" width=50% height=70%>
            <figcaption style="text-align:center;"><i>Gigitin lidah sakit</i></figcaption>
        </figure>
    </p>

    <p>Oke kayaknya segitu aja cerita tentang kebiasaan-kebiasaan buruk gue. Sebenarnya masih ada lagi, tapi gue rasa 
        cukup dulu untuk sekarang. Thanks for reading all <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-smile-upside-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1zm0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0z"/>
            <path fill-rule="evenodd" d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
            <path d="M7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5z"/>
          </svg> See ya later.
    </p>
    </div>
{% endblock content %}