{% extends 'blog/base.html' %}
{% load static %}
<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block page_title %}
        BLOG
    {% endblock page_title %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">

    
{% block content %}
<section class="blogs" id="blogs">
    <div class="container">
    <div class=" row">
        <div class="col-lg-8 mb-4">
            <div class="card mb-4">
                <h5 class="card-header list-group-item-primary">Blog</h5>
                    <div class="card-body">
                    <h5 class="card-title">My Bad Habits</h5>
                    <p class="card-text">Oke, kita mulai dari yang paling mainstream yaa. Mungkin kebiasaan buruk ini juga banyak dimiliki orang lain,</p>
                    <a href="{% url 'blog:first_blog' %}" class="btn btn-primary">More</a>
                    </div>
            </div>

            <div class="card mb-4">
                <h5 class="card-header list-group-item-warning list-group-item-primary">Hobi</h5>
                    <div class="card-body">
                    <h5 class="card-title">Why I love Swim</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores et, est omnis, nobis ratione aliquam cum corporis</p>
                    <a href="#" class="btn btn-primary">More</a>
                    </div>
            </div>

            <div class="card">
                <h5 class="card-header list-group-item-success">Pengetahuan</h5>
                    <div class="card-body">
                    <h5 class="card-title">7 Manfaat Minum Air Putih Setelah Bangun Tidur</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores et, est omnis, nobis ratione aliquam cum corporis</p>
                    <a href="#" class="btn btn-primary">More</a>
                    </div>
            </div>
        </div>

        <div class="col-lg 4">
            <div class="list-group">
                <h3 class="list-group-item list-group-item-dark"><b>Kategori</b></h3>
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Blog</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Pengetahuan</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Meme</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Hobi</a>
              </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock content %}
</html>


