<link rel="stylesheet" href="../../static/blog/css/index.css">

 <!--NAVBAR-->
 <div class="main">
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
    <a href="{% url 'blog:index' %}" class="navbar-brand"><img src="../../static/blog/img/horse.ico" / width="30%"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{% url 'blog:story1' %}">STORY 1</a>
        </li>
        <li class="nav-item page-scroll">
          <a class="nav-link" href="#contact">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:list_blog' %}">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story5:list' %}">MATA KULIAH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story_6:activity' %}">KEGIATAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story7:accordion' %}">ACCORDION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story8:index' %}">BUKU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story9:login' %}">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>