center {
    margin-top:100px;
    min-height:80vh;
}

#result td {
    text-align: center;
}

input {
    padding: 100px;
    width:20px;
}

.container-input {
    width:70%;
}

.container-table {
    width:80%;
}