{% extends 'story5/base.html' %}
{% load static %}

{% block page_title %} 
    {{title}}
{% endblock page_title %}
    
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'story8/css/buku.css' %}"/>
{% endblock css %}
        
{% block content %}
    <center>
        <h1>Search Book</h1>
            <div class="container">
                <br>
                
                <p>"Books are the cheapest vacation you can buy. 
                    Books are planes, trains, and a path of hope for people who want to be elsewhere"</p>

                <div class="container-input">
                    <br><br><br><input type="text" class="form-control input-keyword" id="keyword" placeholder="Type Title or Author">
                </div>
                
                <!--<button id="button" type="button">Click Me</button>-->
                <br>
                <div class="container-table">
                        <table class="table table-responsive table-hover " >
                            <tbody id="result">
                                <td></td>
                                <td></td>
                                <td></td> 
                            </tbody>    
                        </table>
                </div>
            </div>
        </center>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script>
        $("#keyword").keyup( function(){
            let searchValue = $('#keyword').val();
            if (!searchValue) return;
            $('#result').empty();
            const url_api = "{% url 'story8:search' query='book' %}".replace('book', searchValue)
            $.ajax({
                url: url_api,
                dataType: "json",
                success: function(data, status) {
                    $('#result').empty()
                    $('#result').append("<p>Menampilkan hasil dari " + searchValue + "</p>");
                    $('#result').append("<p>Click the title to see more</p>");
                    for (i = 0; i < data.items.length; i++) { 
                        var link = data.items[i].volumeInfo.infoLink
                        var judul = data.items[i].volumeInfo.title;
                        var gambar = data.items[i].volumeInfo.imageLinks.smallThumbnail;
                        var author = data.items[i].volumeInfo.authors;
                        var published = data.items[i].volumeInfo.publishedDate;
    
                        result.innerHTML += 
                        "<tr><td>" + "<img src=" + gambar +  ">"
                        + "</td><td> <a class='text-dark' target='_blank' href=' "  +link + " '> " + judul
                        + "</td><td>" + author + "  (" + published + ")"
                        + "</tr>"
                    }
                },
                type: 'GET'
            });
        }
    )
    </script>
{% endblock %}